<%= flash[:new] %>
<%= flash[:update] %>


<p><strong>Title:</strong> <%= @show.title %></p>

<p><strong>Body:</strong> <%= @show.body %></p>


<p><%= link_to "Edit", edit_book_path %> | <%= link_to "Back", books_path %></p>

